.pagination-btn {
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #b7b7b7;
  color: #0e2341;
  transition: all 100ms linear;

  &:hover {
    cursor: pointer;
    background-color: #756558;
    color: #fff;
  }
}

.pagination {
  display: flex;
  gap: 2.5rem;
}

.active-btn {
  background-color: #756558;
  color: #fff;
}
