.about-section9 {
  .about-section9_banner {
    background-image: url('../../../assets/png/about-bg9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem 0 10rem 0rem;

    h2 {
      border-left: 5px solid #fff;
      padding: 3rem 0;
      padding-left: 3rem;
    }
  }

  .about-section9_description {
    padding: 5rem 0;
    background-color: rgba(61, 108, 187, 0.1);
    p,
    span {
      font-size: 2rem;
      line-height: 2.724rem;
      font-weight: 400;
      color: #0e2341;
    }
    p {
      margin-bottom: 2rem;
    }
    span {
      font-weight: 600;
    }
    ul {
      margin-bottom: 2rem;
      list-style: disc;

      li {
        font-size: 2rem;
        line-height: 2.724rem;
        font-weight: 400;
        color: #0e2341;
        margin-left: 3rem;
      }
    }
  }
  @media screen and (max-width: 1080px) {
    .about-section9_banner {
      padding: 5rem 2rem;

      h2 {
        border-width: 4px;
        padding: 2.5rem 0;
        padding-left: 2.5rem;
      }
    }

    .about-section9_description {
      padding: 4rem 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .about-section9_banner {
      padding: 2rem 0rem 2rem 2rem;

      h2 {
        border-width: 3px;
        padding: 1.6rem 0;
        padding-left: 1.5rem;
        margin-left: 1.4rem;
      }
    }

    .about-section9_description {
      padding: 2rem 3rem 7rem;

      p,
      span {
        font-size: 1.6rem;
        line-height: 2.179rem;
      }

      ul {
        li {
          font-size: 1.6rem;
          line-height: 2.179rem;
        }
      }
    }
  }
}
