.projects-section1 {
  background-image: url('../../../assets/png/project-bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  > div {
    padding: 3.4rem 0;

    h1 {
      font-family: 'Open Sans';
      font-size: 2.8rem;
      line-height: 3.22rem;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    > div {
      padding: 5rem 2rem;

      h1 {
        font-size: 3.2rem;
        line-height: 3.9rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 3rem;
      }
    }
  }

  @media (min-width: 1080px) {
    > div {
      padding: 5rem 0rem;

      h1 {
        font-family: 'Open Sans';
        font-size: 5.8rem;
        line-height: 6.67rem;
        font-weight: 700;
        margin-bottom: 4rem;
      }
    }
  }
}
