.projects-section1 {
  background-image: url('../../../assets/png/project-bg1.png');

  > div {
    padding: 5rem 0;

    h1 {
      font-size: 5.8rem;
      line-height: 6.67rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 4rem;
    }

    .projects__filters {
      padding: 2rem;
      background-color: #fff;
      border-radius: 5px;
      background-color: #ffffff4d;
      justify-content: flex-start;
      gap: 2.5rem;
      width: 100%;
      max-width: 980px;

      .accordion {
        background-color: #fff;
        border-radius: 3px;
        padding: 0.9rem 1.3rem;
        width: 120px;
        cursor: pointer;

        img {
          width: 10px;
        }

        h4 {
          font-size: 1.2rem;
          line-height: 1.634rem;
          font-weight: 600;
          color: #0e2341;
        }

        p {
          font-size: 1.2rem;
          line-height: 1.634rem;
          font-weight: 600;
          color: #b7b7b7;
        }
      }

      > div:last-child {
        gap: 5px;
        border: 1px solid #fff;
        border-radius: 3px;
        max-width: 120px;
        padding-left: 2rem;
        input {
          font-size: 1.4rem;
          line-height: 1.907rem;
          font-weight: 600;
          color: #fff;
          background-color: transparent;
          border: none;
          width: 100%;
          outline: none;
          padding: 1.6rem 0;
        }
        img {
          width: 13px;
        }
      }

      .double-type__filter {
        > div:first-child {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right: 1px solid #b7b7b7;
        }

        div:last-child {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}
