.purchase-section1 .purchase-section1_banner {
  background-image: url("../../../assets/png/purchase-bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
}
.purchase-section1 .purchase-section1_banner h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.purchase-section1 .purchase-section1_description {
  padding: 5rem 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.card_name {
  font-size: 28px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  background: #3D6CBB;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  border-radius: 59px;
  z-index: 2;
}
.card_body {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 5px;
  margin-left: 40px;
  background: #ECF1F9;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1019607843);
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 30px;
  z-index: 2;
}
.card_body h6 {
  width: 145px;
  border: 0.23em solid #3D6CBB;
  margin-bottom: 8px;
}
.card_text {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #3D6CBB;
  margin-bottom: 8px;
}
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #0E2341;
}

.card1 {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.card1::after {
  content: " ";
  position: absolute;
  width: 605px;
  border: 2px dotted #756558;
  left: 55px;
  top: 28px;
}

.card2 {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.card2::before {
  content: " ";
  position: absolute;
  width: 290px;
  border: 2px dotted #756558;
  top: 200px;
  right: 273px;
  transform: rotate(-90deg);
}

.card3 {
  display: flex;
  align-items: flex-start;
  margin-top: 150px;
}

.card4 {
  display: flex;
  align-items: flex-start;
  margin-top: 150px;
  position: relative;
}
.card4::after {
  content: " ";
  position: absolute;
  width: 605px;
  border: 2px dotted #756558;
  left: 55px;
  top: 28px;
}

.card3_4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1060px) and (min-width: 996px) {
  .card1::after {
    width: 496px;
  }
  .card4::after {
    width: 496px;
  }
}
@media only screen and (max-width: 996px) and (min-width: 950px) {
  .card1::after {
    width: 440px;
  }
  .card4::after {
    width: 440px;
  }
}
@media only screen and (max-width: 950px) and (min-width: 778px) {
  .purchase-section1 .purchase-section1_banner h1 {
    font-size: 48px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card_name {
    margin-bottom: 30px;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
  }
  .card1::after {
    transform: rotate(90deg);
    width: 40px;
    left: 48%;
    top: 67px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .card2::before {
    width: 130px;
    top: 32px;
    left: 42%;
    transform: rotate(-90deg);
  }
  .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .card3::after {
    content: " ";
    position: absolute;
    border: 2px dotted #756558;
    width: 276px;
    transform: rotate(-90deg);
  }
  .card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
  }
  .card4::after {
    width: 276px;
    right: 50%;
    top: 0;
    transform: rotate(-90deg);
  }
  .card3_4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 778px) and (min-width: 649px) {
  .purchase-section1 .purchase-section1_banner h1 {
    font-size: 42px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card_name {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .card_text {
    font-size: 20px;
  }
  .card p {
    font-size: 15px;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
  }
  .card1::after {
    transform: rotate(90deg);
    width: 40px;
    left: 47%;
    top: 67px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .card2::before {
    width: 106px;
    top: 32px;
    left: 42%;
    transform: rotate(-90deg);
  }
  .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .card3::after {
    content: " ";
    position: absolute;
    border: 2px dotted #756558;
    width: 276px;
    transform: rotate(-90deg);
  }
  .card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
  }
  .card4::after {
    width: 276px;
    right: 50%;
    top: 0;
    transform: rotate(-90deg);
  }
  .card3_4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  .purchase-section1 .purchase-section1_banner h1 {
    font-size: 38px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card_name {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .card_text {
    font-size: 20px;
  }
  .card p {
    font-size: 15px;
  }
  .card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
  }
  .card1::after {
    transform: rotate(90deg);
    width: 40px;
    left: 46%;
    top: 67px;
  }
  .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .card2::before {
    width: 106px;
    top: 32px;
    left: 41%;
    transform: rotate(-90deg);
  }
  .card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .card3::after {
    content: " ";
    position: absolute;
    border: 2px dotted #756558;
    width: 276px;
    transform: rotate(-90deg);
  }
  .card4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
  }
  .card4::after {
    width: 276px;
    right: 50%;
    top: 0;
    transform: rotate(-90deg);
  }
  .card3_4 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}/*# sourceMappingURL=purchaseSection1.css.map */