.home__section6 {
  background-image: url("../../../assets/png/home-bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    padding: 8.8rem 0 10rem;

    h2 {
      font-size: 2.2rem;
      line-height: 2.996rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.043rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 3rem;
      max-width: 348px;
    }

    a {
      display: inline-block;
      background-color: #0e2341;
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.907rem;
      font-weight: 400;
      border: 1px solid #0e2341;

      &:hover {
        color: #0e2341;
        background-color: transparent;
      }
    }
  }

  @media screen and (max-width: 375px) {
    background-color: #0c1d3680;
    background-blend-mode: multiply;

    > div {
      padding: 8rem 0;

      h2 {
        color: #fff;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.179rem;
        color: #fff;
        max-width: 338px;
      }

      a {
        font-size: 1.6rem;
        line-height: 2.179rem;
        font-weight: 600;
        background: #3d6cbb;
        border: none;

        &:hover {
          color: #fff;
          background-color: #3d6cbb;
          cursor: auto;
        }
      }
    }
  }
}
