.purchase-section3 {
    margin-top: 100px;
    .purchase-section3_banner {
      background-image: url("../../../assets/png/purchase-bg3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 10rem 0 10rem 0rem;
  
      h2 {
        border-left: 5px solid #fff;
        padding-left: 3rem;
      }
    }
    
    .purchase-section3_description {
        display: flex;
        margin-top: 70px;
        &_body{
          display: flex;
          flex-direction: column;
          &_text{
              font-size: 34px;
              font-weight: 600;
              line-height: 46px;
              letter-spacing: 0em;
              text-align: left;
              color: #3D6CBB;
              margin-bottom: 20px;
          }
          &_desc{
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #0E2341;
          }
        }
        &_body2{
          display: flex;
          flex-direction: column;
          margin-top: 70px;
        }
      }
    
  }
  
  @media only screen and (max-width:920px)and (min-width:500px){
    .purchase-section3 {
      .purchase-section3_banner {
        padding: 10rem 0 10rem 2rem;
      }
      
      .purchase-section3_description {
          padding: 0 2rem;
    }
  }
  }

  @media only screen and (max-width:500px)and (min-width:375px){
    .purchase-section3 {
      margin-top: 100px;
      .purchase-section3_banner {
        height: 100px;
        padding: 2rem 1rem 2rem 1rem;
        display: flex;
        align-items: center;
        h2 {
          font-family: Open Sans;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          padding-left: 1rem;
          margin-left: 45px;
        }
      }
      
      .purchase-section3_description {
          display: flex;
          margin-top: 70px;
          padding: 0 2rem;
          &_body{
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            &_text{
              font-family: Open Sans;
              font-size: 24px;
              font-weight: 600;
              line-height: 33px;
              letter-spacing: 0em;
              text-align: left;              
                margin-bottom: 20px;
            }
            &_desc{
              font-family: Open Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;              
            }
          }
          &_body2{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
          }
        }
      
    }
  }
  @media only screen and (max-width:375px){
    .purchase-section3 {
      margin-top: 100px;
      .purchase-section3_banner {
        height: 100px;
        padding: 2rem 0 2rem 0rem;
        h2 {
          font-family: Open Sans;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          padding-left: 1rem;
          margin-left: 45px;
        }
      }
      
      .purchase-section3_description {
          display: flex;
          margin-top: 70px;
          &_body{
            display: flex;
            flex-direction: column;
            padding: 0 2rem;
            &_text{
              font-family: Open Sans;
              font-size: 24px;
              font-weight: 600;
              line-height: 33px;
              letter-spacing: 0em;
              text-align: left;              
                margin-bottom: 20px;
            }
            &_desc{
              font-family: Open Sans;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;              
            }
          }
          &_body2{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
          }
        }
      
    }
  }