.sub-footer {
  padding: 7px 0;
  text-align: center;
  font-size: 14px;
  line-height: 16.1px;
  font-weight: 400;
  color: #616161;
  background-color: #212121;

  @media screen and (max-width: 375px){
    padding: 4px 0;
    font-size: 1rem;
    line-height: 1.15rem;
  }
}
