// Welcome Section

.welcome {
  padding: 9rem 7.3rem;
  background-image: url("../../assets/png/welcome-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0c1d3680;
  background-blend-mode: multiply;

  .welcome__title {
    font-size: 6.2rem;
    line-height: 7.13rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
  }

  .welcome__subtitle {
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 3rem;
    max-width: 550px;
  }

  .welcome__btn {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 8.5rem;

    &:hover {
      background-color: #fff;
      color: #0e2341;
    }
  }

  .welcome__filters {
    width: 978px;
    gap: 2.5rem;
    padding: 2rem;
    background-color: #ffffff4d;
    border-radius: 5px;
    box-shadow: 0 0px 5px #666;

    .type__filter {
      padding: 0.9rem 1.2rem;
      background-color: #fff;
      gap: 0.55rem;
      border-radius: 3px;
      min-width: 120px;

      h4 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.634rem;
        color: #0e2341;
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.634rem;
        color: #b7b7b7;
      }

      img {
        width: 0.9rem;
      }
    }

    .welcome__search {
      width: 110px;
      padding: 1.4rem 2.6rem;
      border: 1px solid #fff;
      gap: 0.2rem;
      border-radius: 3px;
      img {
        width: 12px;
      }

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.907rem;
      }
    }
  }
}

.accordion {
  position: relative;
}

.accordion-content {
  position: absolute;
}

// About Section

.home__section1 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem 0;

  > div {
    justify-content: space-around;
    > div {
      padding: 1.5rem 5rem 1.5rem 2rem;
      border-right: 2px solid #3d6cbb;
      display: flex;
      flex-direction: column;

      &:last-child {
        border: none;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        color: #3d6cbb;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      .red__title {
        color: #bb3d3d;
      }
      p {
        font-size: 2rem;
        line-height: 2.5rem;
        color: #b7b7b7;
        font-weight: 400;
      }
    }
  }
}

// Home Section 2

.home__section2 {
  width: 100%;
  background-image: url("../../assets/png/home-bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  > div {
    padding: 8rem;
  }

  .home__about-description_content {
    width: 50%;
    padding: 3rem 3rem 4rem 3rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    h2 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 0.7rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.451rem;
      font-weight: 300;
      color: #0e2341;
    }
  }
}

// Home Section 3

.home__section3 {
  background-color: #3d6cbb1a;

  > div {
    padding: 5rem 4rem 6rem;
  }
}

.service__title {
  font-size: 4.2rem;
  line-height: 5.72rem;
  font-weight: 600;
  color: #0e2341;
  text-align: center;
  margin-bottom: 3rem;
}

.service-row1 {
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;

  img:nth-of-type(odd) {
    width: 80px;
  }
  img:nth-of-type(even) {
    width: 270px;
  }
}

.service-row2 {
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  div {
    text-align: center;

    h3 {
      font-size: 2.2rem;
      line-height: 2.996rem;
      color: #0e2341;
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.043rem;
      font-weight: 400;
      color: #0e2341;
      text-align: center;
    }
  }
}

// Home Section4

.home__section4 {
  div {
    padding: 5rem 0;

    h1 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 2.724rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 2rem;
    }
  }
}

// Home section 5

.home__section5 {
  background-image: url("../../assets/png/home-bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div {
    padding: 8.8rem 0 10rem;

    h2 {
      font-size: 2.2rem;
      line-height: 2.996rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 1.3rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.043rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 3rem;
      max-width: 348px;
    }

    button {
      background-color: #0e2341;
      color: #fff;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

// Home Section 6

.home__section6 {
  > div {
    padding: 10rem 0;

    h1 {
      font-size: 4rem;
      line-height: 5.447rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 3.2rem;
    }

    .section6-navigation {
      margin-bottom: 4rem;
      .filter-btn {
        margin-right: 3rem;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        line-height: 2.724rem;
        font-weight: 600;
        color: #b7b7b7;
        cursor: pointer;
        transition: all 200ms linear;

        &:hover {
          color: #3d6cbb;
          text-decoration: underline;
        }

        &:last-child {
          margin: 0;
          margin-left: auto;
          font-size: 1.6rem;
          line-height: 2.179rem;
          color: #fff;
          background-color: #0e2341;
          padding: 1.9rem 3.6rem;
          border-radius: 5px;
          transition: all 200ms linear;

          &:hover {
            opacity: 0.9;
            text-decoration: none;
          }
        }
      }
      .selected {
        color: #3d6cbb;
        text-decoration: underline;
      }
    }
    .home__section6-projects {
      display: flex;
      flex-flow: wrap;
      gap: 3rem;

      .house-card {
        background-color: #fff;
        padding: 2rem;
        border-radius: 5px;
        border: 1px solid #cbcbcb;
        max-width: 255px;

        .card-header {
          position: relative;
          margin-bottom: 1rem;
          z-index: 1;

          p {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 600;
            color: #756558;
          }
        }
      }

      .card-content {
        h3 {
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 600;
          color: #0e2341;
          margin-bottom: 6px;
        }

        > div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          > div {
            display: flex;
            align-items: center;
            gap: 3px;

            span {
              font-size: 1.3rem;
              line-height: 2rem;
              letter-spacing: -5%;
              color: #51627b;
            }
          }
        }
      }

      .card-footer {
        display: flex;
        align-items: center;

        button {
          font-size: 1.2rem;
          line-height: 1.634rem;
          font-weight: 400;
          color: #fff;
          padding: 1rem 2.2rem;
          border: none;
          background-color: #3d6cbb;
          border-radius: 3px;
          cursor: pointer;
          margin-right: 2rem;

          &:hover {
            opacity: 0.9;
          }
        }

        span {
          font-size: 1.6rem;
          line-height: 2rem;
          font-weight: 600;
          color: #d7bb83;
        }
      }
    }
  }
}

// Home Section7

.home__section7 {
  > div {
    padding: 0 0 10rem 0;
    h1 {
      font-size: 4.2rem;
      line-height: 5.72rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 5rem;
      text-align: center;
    }

    > div {
      display: flex;
      gap: 3rem;
      margin-bottom: 5rem;

      > div {
        width: 33%;

        img {
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 2rem;
          line-height: 2.724rem;
          font-weight: 600;
          color: #0e2341;
        }
      }
    }

    button {
      font-size: 1.6rem;
      line-height: 2.179rem;
      color: #0e2341;
      font-weight: 600;
      padding: 1.9rem 3.6rem;
      border: 1px solid #0e2341;
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      transition: all 200ms linear;

      &:hover {
        background-color: #0e2341;
        color: #fff;
      }
    }
  }
}

// Home Section8
.home__section8 {
  background-image: url("../../assets/png/home-contacts-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > div {
    padding: 11rem 0 10rem;
    display: flex;
    justify-content: center;
    // align-items: center;
  }

  .home__contacts {
    min-width: 720px;
    min-height: 440px;
    display: flex;

    .contacts-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-image: url("../../assets/png/home-contact-bg-small.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 2.5rem 2.5rem 3rem 2rem;
      width: 50%;

      > img {
        margin-bottom: 25rem;
        width: 130px;
      }
      .contects-left_content {
        align-self: flex-start;

        div {
          justify-content: flex-start;

          span {
            font-size: 1.4rem;
            line-height: 1.9rem;
            font-weight: 600;
            color: #fff;
          }
          img {
            width: 15px;
            margin-right: 5px;
          }
        }
      }
    }
    .contacts-right {
      background-color: #fff;
      width: 50%;
      opacity: 0.9;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 130px;
        margin-bottom: 7.2rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 3rem;
          line-height: 4rem;
          font-weight: 600;
          color: #0e2341;
          margin-bottom: 3px;
        }

        p {
          font-size: 1.6rem;
          line-height: 1.84rem;
          font-weight: 600;
          color: #756558;
          margin-bottom: 2rem;
        }

        button {
          font-size: 1.6rem;
          line-height: 1.84rem;
          color: #fff;
          font-weight: 600;

          padding: 1.6rem 7rem;
          border: none;
          background-color: #d7bb83;
          border-radius: 3px;
          cursor: pointer;
          opacity: 0.9;
          transition: all 200ms linear;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
