.home__section5 {
  div {
    padding: 5rem 2rem;

    h1 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 2.724rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 1080px) {
      padding: 3rem 1rem 1rem;
      h1 {
        font-size: 3rem;
        line-height: 4rem;
      }
      p {
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 2.5rem 2rem;
      h1 {
        font-size: 2.8rem;
        line-height: 3.813rem;
        text-align: left;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.179rem;
        text-align: left;
      }
    }
  }
}
