.home__section5 {
  div {
    padding: 5rem 0;

    h1 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 2.724rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 2rem;
    }
  }
}
