.news-banner {
  background-image: url("../../assets/png/news-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6.5rem 0;

  h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
}

.newspaper {
  padding: 10rem 0;

  > div {
    display: flex;
    flex-direction: column-reverse;
  }
}
