.footer__inner {
  align-items: flex-start;
  font-size: 1.6rem;
  color: #0e2341;
  font-weight: 400;
  line-height: 1.84rem;
  justify-content: space-between;
  padding: 2rem 0 0.5rem 0;

  .footer__social-medias {
    justify-content: flex-start;
    gap: 2rem;

    a {
      img {
        transition: all 200ms linear;
        width: 40px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .navigation {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    a {
      margin-bottom: 1.5rem;
      color: #0e2341;
      transition: all 200ms ease-in-out;

      &:hover {
        color: coral;
      }
    }
  }

  .footer__contacts {
    a {
      margin-bottom: 1.5rem;
      color: #0e2341;
      transition: all 200ms ease-in-out;

      &:hover {
        color: coral;
      }
    }
  }

  .about__footer_btn {
    background-color: #0e2341;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }
  }
}

.footer__title {
  font-size: 2.2rem;
  color: #0e2341;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 2.296rem;
}
