.news-details {
  .news-detials-banner {
    background-image: url("../../../assets/png/news-details-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }
  .news-details-date {
    background-color: #0e2341;
    padding: 1.1rem 0;

    > div {
      color: #fff;
      font-size: 2rem;
      line-height: 2.724rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .news-details-title {
    background-color: #3d6cbb1a;
    padding: 3rem 0;

    > div > h1 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
    }
  }

  .news-details-img {
    padding: 3rem 0;
  }

  .news-details-paragraphs {
    background-color: #3d6cbb1a;
    padding: 3rem;

    .news-details-para {
      font-size: 2.2rem;
      line-height: 2.996rem;
      font-weight: 400;
      color: #0e2341;
      margin-bottom: 2rem;

      &:last-child() {
        margin-bottom: 0;
      }
    }

    h1 {
      font-size: 3.4rem;
      line-height: 4.63rem;
      font-weight: 600;
      color: #0e2341;
      margin-bottom: 2rem;
    }
  }
}
