.purchase-subheader {
  font-size: 42px;
  font-weight: 600;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  color: #0e2341;
  margin-top: 25px;
}

.purchase-header {
  font-size: 4.8rem;
  line-height: 5.52rem;
  font-weight: 700;
  color: #fff;
}

.purchase_bg {
  background: #ffffff;
}
