.home__section4 {
  background-color: #3d6cbb1a;

  > div {
    padding: 5rem 4rem 6rem;
  }
}

.service__title {
  font-size: 4.2rem;
  line-height: 5.72rem;
  font-weight: 600;
  color: #0e2341;
  text-align: center;
  margin-bottom: 3rem;
}

.service-row1 {
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;

  img:nth-of-type(odd) {
    width: 80px;
  }
  img:nth-of-type(even) {
    width: 270px;
  }
}

.service-row2 {
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  div {
    text-align: center;

    h3 {
      font-size: 2.2rem;
      line-height: 2.996rem;
      color: #0e2341;
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.043rem;
      font-weight: 400;
      color: #0e2341;
      text-align: center;
    }
  }
}
