.news-component {
  padding: 0 0 10rem 0;
  margin-top: 20px;
  h1 {
    font-size: 4.2rem;
    line-height: 5.72rem;
    font-weight: 600;
    color: #0e2341;
    margin-bottom: 5rem;
    text-align: center;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 5rem;

    .news-card {
      img {
        border-radius: 5px;
        margin-bottom: 1.5rem;
      }
      h3 {
        font-size: 2rem;
        line-height: 2.724rem;
        font-weight: 600;
        color: #0e2341;
      }
    }
  }
  a {
    border: 2px solid #0e2341;
    background-color: #fff;
    font-size: 1.6rem;
    color: #0e2341;
    font-weight: 600;

    &:hover {
      background-color: #0e2341;
      border-color: #0e2341;
      color: #fff;
    }
  }
}
