* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  /* color: #fff; */
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.9rem 3.6rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

ul {
  list-style: none;
}
