.home__section2 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    > div {
      border-right: 2px solid #3d6cbb;
      padding-right: 3.5rem;
      padding-left: 2rem;
      &:first-child {
        padding-left: 0rem;
      }
      &:last-child {
        padding-right: 0rem;
        border-right: none;
      }
      h2 {
        font-size: 3.2rem;
        line-height: 4rem;
        color: #3d6cbb;
        font-weight: 600;
        font-family: 'Open Sans';
        margin-bottom: 0.5rem;
      }
      P {
        font-size: 2rem;
        line-height: 2.5rem;
        color: #b7b7b7;
        font-weight: 400;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
