.projects-gallery {
  width: 920px;
  height: 500px;
  margin: 0 auto;
  position: relative;

  .gallery-container {
    height: 100%;
    position: relative;
    transition: transform 400ms linear;
    gap: 3rem;

    .project-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      min-width: 920px;
    }
  }

  .animate-left {
    transform: translateX(-950px);
  }

  .animate-right {
    transform: translateX(0%);
  }

  .slides-btns {
    .slider-btn {
      width: 70px;
      height: 70px;
      background-color: #756558;
      position: absolute;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      top: 45%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40%;
      }
    }

    .prev-btn {
      left: -5%;
      transform: rotate(90deg);
    }

    .next-btn {
      right: -5%;
      transform: rotate(-90deg);
    }
  }
}
